*{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-decoration: none;
}
#mobMenuRow, .aMenu, #nav, footer{
    background-color: #2E2E2E;
    color: #fff;
}
.filaCab, .col, .formContacto {
    background-color: #B2AEB1;    
}
.header{
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#mobMenuRow{
    align-items: center;
    animation-direction: normal;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.mobMenuRowHide{
    animation-name: headerSubiendo;
}
@keyframes headerSubiendo{
    from{ transform: translateY(0%); }
    to{ transform: translateY(-100%); }
}
.mobMenuRowShow{
    animation-name: headerBajando;
}
@keyframes headerBajando{
    from{ transform: translateY(-100%); }
    to{ transform: translateY(0%); }
}
.smallLogo{
    font-size: 1.1rem;
    justify-content: center;
    font-family: 'Courgette', cursive;
}
.bigLogo{
    display: none;
}
.aMenu{
    align-items: center;
    border-top: 1px solid rgba(255,255,255, .3);
    display: flex;
    flex-flow: row;
}
.aMenu:hover{
	background: #6E6E6E;
}
.main{
    height: 100%;
}
.menuItem{
    width: 100%;
}
#nav{
    align-items: center;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* Fija el elemento en la posición de fin*/
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 65%;
    max-width: 300px;
    transform: translate(-100%,0px);
}
.sacaMenu{
    animation-name: menuBurguerSaliendo;
}
@keyframes menuBurguerSaliendo{
    from{ transform: translate(-100%,0px); }
    to{ transform: translate(0px,0px); }
}
.escondeMenu{
    animation-name: menuBurguerEscondiendo;
}
@keyframes menuBurguerEscondiendo{
    from{ transform: translate(0px,0px); }
    to{ transform: translate(-100%,0px); }
}
#wrapper{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    max-width: 1700px;
    width: 100% !important;
}
section{
    background-attachment: fixed; /*Parallax*/
    /*background-repeat: no-repeat; /*Parallax*/
    /*background-size: cover; /*Parallax*/
    margin: 0 auto;
    max-width: 1700px;
    overflow: hidden;
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.filaCab{
    opacity: 0.65;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.filaCabCont{
    display: flex;
    flex-flow: column;
}
.filaCont{
    display: flex;
    flex-flow: column;    
}
.filaCabContCol{
    width: 90%;
}
.col{
    display: flex;
    height: 100%;
    opacity: 0.65;
    width: 100%;
}
.col:hover{
    background-color: #FFFDFD;
}
.aCols{
    width: 100%;
}
.celdaSup{
    margin: 0.5rem;
    height: 120px;
    width: 120px;
    float: left;
    background-size: cover;
}
#celdaSup1{
    background-image: url("../images/devices(256).png");
}
#celdaSup2{
    background-image: url("../images/analytics(256).png");
}
#celdaSup3{
    background-image: url("../images/bar-chart(256).png");
}
#bloque1{
    background-image: url("../images/pyramid.gif");
}
#bloque2{
    background-image: url("../images/pyramid.gif");
}
#bloque3{
    background-image: url("../images/pyramid.gif");
}
#bloque4{
    background-image: url("../images/pyramid.gif");
}
.imgContenedor{
    display: flex;
    flex-flow: column;
    align-content: space-around;
    justify-content: center;
}
.imgPortfolio{
    border-radius: 0.1rem;
    width: 80%;
    opacity: 0.5;
}
.imgPortfolio:hover{
    opacity: 1;
    box-shadow: 0 0 12px #FFEF6F;
    transform: scale(1.2);
    z-index: 5;
}
.imgPortF{
    border-radius: 0.1rem;
    height: 100%;
    width: 100%;    
}
footer{
    padding-top: 1rem;
    height: 60px;
    font-size: 0.8rem;
}
footer a{
    text-decoration: underline;
    color: white;
    font-size: 0.8rem;
}
.menuIcono48{
    display: flex;
    height: 48px;
    width: 48px;
}
.textMenu{
    padding: 0.5rem;
    width: 50%;
    font-size: 1.1rem;
}
.iconoSacaMenu{
    background-image: url("../images/menu_48dp_2x.png");
    background-size: cover;
    height: 48px;
    width: 48px;
}
.iconoQuitaMenu{
    background-image: url("../images/close_48dp_1x.png");
    background-size: cover;
    height: 48px;
    width: 48px;
}
#titInicio{
    color: #7F0C03;
    font-family: 'Courgette', cursive;
    text-align: center;
}
h1{
    color: #16217F;
    padding: 0.5rem;
    text-align: left;    
}
h2{
    color: black;
    padding: 0.5rem;
    text-align: center;
}
.pCol{
    text-align: left;
    color: #7F0C03;
    padding: 1rem;
}
.pNegro{
    color: black;
    font-family: 'Courgette', cursive;
    padding: 0;
    text-align: left;
}
.pNegro:first-letter{
    font-size: 1.5rem;
    margin-left: 0.3rem;
}
.pNegroCenter{
    color: black;
    font-family: 'Courgette', cursive;
    text-align: center;
}
.pNegroCenter:first-letter{
    font-size: 1.5rem;
    margin-left: 0.3rem;
}
.formContacto{
    opacity: 0.65;
    width: 100%;
}
fieldset{
    color: #16217F;
    font-weight: bold;
    height: 95%;
    width: 100%;
}
.formFlex{
    width: 100%;
    margin: 0 auto;
}
.formRow{
    padding: 0.3rem;
    text-align: left;
    width: 80%;
}
label{
    font-weight: bold;
    color: #7F0C03;
}
textarea{
    padding: 0.3rem;
    text-align: left;
    opacity: 1;
    box-shadow: 0px 2px 2px #B5C1C5, 0 0 0 2px #EEF5F7 inset;
    width: 80%;
    height: 10rem;
}
textarea:focus{
    background-color: #FFF5B0;
}
input[type="text"]{
    width: 80%;
    padding: 0.3rem;
    text-align: left;
    opacity: 1;
    box-shadow: 0px 2px 2px #B5C1C5, 0 0 0 2px #EEF5F7 inset;
}
input[type="text"]:focus{
    background-color: #FFF5B0;
}
input[type="submit"]{
    border-radius: 0.3rem;
    padding: 0.5rem;
}
input[type="submit"]:hover{
    background-color: #CACBCC;
}
@media ( min-width : 835px ) { /*A partir de X px*/
    .formContacto{
        border-radius: 0.3rem;
        width: 80%;
        padding: 1rem;
    }
    .formRow{
        width: 50%;
        padding: 0.5rem;
    }
	#mobMenuRow{
		display: none;
	}
    .header{
        height: 100px;
    }
    #nav{
        height: 100px;
        animation-duration: 0s; /* Posiciona cuando se redimensiona la pág.*/
        animation-name: menuTransform; /* Posiciona cuando se redimensiona la pág.*/
        flex-direction: row;
        position: static; /* No es redundante*/
        transform: translate(0px, 0px); /* Posiciona cuando se recarga la pág.*/
        width: 100%;
        max-width: 100%;
    }
    @keyframes menuTransform{ /* Posiciona cuando se redimensiona la pág.*/
        from{ transform: translate(-100%, 0px); }
        to{ transform: translate(0px, 0px); }
    }
    .menuItem, .bigLogo{
        display: flex;
    }
    .menuItem{
        flex-flow: column;
        flex-flow: nowrap;
        width: 6rem;
    }
    .aMenu{
        flex-direction: column;
    }
    .bigLogo{
        font-size: 2rem;
        justify-content: center;
        font-family: 'Courgette', cursive;
        font-weight: bold;
        width: 45%;
    }
    .aMenu{
        border-radius: 0.3rem;
        border: none;
        padding: 0.3rem;
        width: 100%;
    }
    .textMenu{
        padding: 0;
        width: 100%;
    }
    section{     
        padding-top: 100px;
    }
    .bloqueCont{
        max-width: 1100px;
        height: 800px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-flow: column;
    }
    .filaCab{
        width: 95%;
        border-radius: 0.3rem;
    }
    .filaCabCont{
        flex-flow: row;
    }
    .filaCont{
        width: 100%;
        flex-flow: row;
        min-height: 350px;
    }
    .contPortFolio, .contSinergia, .contContacto{
        height: 560px;
    }
    .filaCabContCol{
        width: 40%;
    }
    .col{
        border-radius: 0.3rem;
        max-width: 240px;
        flex-flow: column;
    }
    .aCols{
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    .celdaSup{
        height: 220px;
        width: 220px;
        clear: all;
        background-size: cover;
    }
    .celdaInf{
        height: 100%;
    }
    .imgContenedor{
        flex-flow: row;
        flex-wrap: wrap;
    }
    .x3{
        height: 45%;
        width: 30%;
    }
    .x2{
        height: 45%;
        width: 40%;
    }
    h1{
        font-size: 2rem;
        text-align: center;
    }
    p{
        text-align: center;
    }
}